<h1><%= @sub_category.title %></h1>
--------------------------------------
</p>
<div class="products-container">
  <% @products.each do  |products|%>
        <%= products.title %> |
        Цена: <%= products.price %>$ |
        <%= link_to "Посмотреть", products %>
        </p>
        <% if(products.image?) %>
          <%= image_tag products.image(:large) %>
        <% end %>
      </p>
------------------------------------------------------------------
</p>
<% end %>
</div>
